@model CityParkWeb.Entities.Negocio.Agente
@{
    ViewBag.Title = "Home";
}

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.11.1.js"></script>
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/jquery-2.1.1.min.js"></script>

<style>
    #map_container {
        position: relative;
    }

    #map {
        height: 0;
        overflow: hidden;
        padding-bottom: 30.25%;
        padding-top: 10px;
        position: relative;
    }
</style>

<div id="content">
    <div class="alert alert-block alert-info">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Informaci&oacute;n</h4>
        <p>
            Usted puede observar la ruta del vendedor en el mapa as&iacute; como el detalle de cada segmento!
        </p>
    </div>
    @Html.HiddenFor(model => model.Id)
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <h4 class="page-title txt-color-blueDark">
                    <i class="fa-fw fa fa-user"></i>
                    Vendedor:
                    <span>
                        @Model.Nombre
                    </span>
            </h4>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <h4 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-dollar"></i>
                Total de Ventas:  
                <span>
                    <label id="idventas"></label>
                </span>
            </h4>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-calendar"></i>
                <span>
                   @{ var fecha = DateTime.Now.Date.ToLongDateString(); }
                    @fecha
                </span>
            </h4>
        </div>

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i>Ver informe</a>
        </div>
    </div>
    <legend></legend>
  
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-close="false" data-widget-custombutton="false">
                    <header draggable="true">
                        <span class="widget-icon"> <i class="fa fa-road"></i> </span>
                        <h2>Recorrido del vendedor...</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="map_container"></div>
                                        <div id="map"></div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-close="false" data-widget-custombutton="false">
                    <header draggable="true">
                        <span class="widget-icon"> <i class="fa fa-road"></i> </span>
                        <h2>Detalle...</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="directions-panel"></div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section pagespecific {
    <script>
    var arreglo = [];
        $(document).ready(function () {

           

        });



 
    </script>
   



    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy7xHSOffrWxVEax1kniS5-OxrWCuF4JU&libraries=visualization"
              async defer></script>

}
