
@{
    ViewBag.Title = "Home";
}
<style>
    #map_container {
        position: relative;
    }

    #map {
        height: 0;
        overflow: hidden;
        padding-bottom: 40.25%;
        padding-top: 30px;
        position: relative;
    }
</style>

<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/chat.js"></script>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.11.1.js"></script>
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<link rel="stylesheet" href="~/Scripts/libs/waitMe/waitMe.min.css" />
<link rel="stylesheet" href="~/Scripts/libs/waitMe/waitMe.css" />
<script src="~/Scripts/libs/waitMe/waitMe.min.js"></script>
<script src="~/Scripts/Site.js"></script>

<style>
    #map_container {
        position: relative;
    }

    #map {
        height: 0;
        overflow: hidden;
        padding-bottom: 35.25%;
        padding-top: 10px;
        position: relative;
    }
</style>
<div id="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <legend>Agentes en tiempo real</legend>
                <section id="widget-grid" class="">
                    <div class="row">
                        <article class="col-sm-12 col-md-12 col-lg-12">
                            <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-close="false" data-widget-custombutton="false">
                                <header draggable="true">
                                    <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
                                    <h2>Click en el agente para ver las descripciones</h2>
                                </header>
                                <div>
                                    <div class="jarviswidget-editbox">
                                    </div>
                                    <div class="widget-body no-padding">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div id="map_container"></div>
                                                    <div id="map"></div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
                <footer>
                    @Html.ActionLink("Cancelar", "Index","Home", null, new { @class = "btn btn-default" })
                </footer>
            </div>

        </div>
    </div>
</div>


@section pagespecific {
    
    <script>
        var map;
        var empresa;
      

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIBkXjci-D1Gog6Ez_BkpJcdtEnO1XsBA&callback=initMap"
          async defer></script>
    
    }